.main {
  background-image: linear-gradient(#00000099, #00000099),
    url("../../../assets/images/Landing/hero-image3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  align-items: center;
}
.getNow {
  background-color: #1e1f25;
  border-radius: 5px;
  color: #fff;
  padding: 2rem;
  margin-bottom: 5rem;
}
.getNow .line {
  width: 90%;
  height: 2px;
  background-color: #313131;
  margin: 0 auto;
  margin-bottom: 10px;
}
.main h2 {
  text-align: center;
  padding: 5rem 0;
  color: #fff;
}
.tour {
  font-size: 0.8rem;
  font-weight: 500;
  color: #cccccc;
}
.down {
  margin-left: 20px;
}
.getNow {
  position: relative;
}
.rdrCalendarWrapper {
  background-color: transparent !important;
  color: #fff !important;
}
.rdrCalendarWrapper button {
  color: #fff !important;
}
.rdrCalendarWrapper span {
  color: #fd5308 !important;
  font-size: 16px;
}
.rdrMonthsVertical {
  align-items: center;
}
.rdrCalendarWrapper .rdrSelected {
  color: #fd5308 !important;
}
.rdrDayNumber span {
  color: #cccccc !important;
}
.rdrMonthPicker select,
.rdrYearPicker select {
  color: #ffff !important;
}

.rdrNextButton {
  position: absolute;
  right: -50px;
  background: transparent !important;
  top: 50%;
}
.rdrPprevButton {
  position: absolute;
  left: -50px;
  background: transparent !important;
  top: 50%;
}
.rdrPprevButton i {
  border-color: transparent rgb(255, 255, 255) transparent transparent !important;
  border-width: 8px 8px 8px 8px !important;
}
.rdrNextButton i {
  border-color: transparent transparent transparent rgb(255, 255, 255) !important;
  border-width: 8px 8px 8px 8px !important;
}
.rdrMonthAndYearWrapper {
  padding-bottom: 2rem;
}
.rdrMonthAndYearPickers {
  margin-left: -260px;
}
.rdrDateDisplayWrapper {
  display: none;
}
.rdrWeekDays .rdrWeekDay {
  color: #fff !important;
}
.rdrDayToday .rdrDayNumber span:after {
  display: none;
}
.rdrYearPicker {
  margin: 0 -45px !important;
}
@media screen and (max-width: 480px) {
  .rdrCalendarWrapper {
    font-size: 8px !important;
  }
  /* .rdrNextButton{
    right: -34px;
  }
  .rdrPprevButton{
    left: -35px;
  } */
  .rdrMonthAndYearPickers {
    margin-left: -165px;
  }
  .rdrCalendarWrapper span {
    font-size: 12px;
  }
  .rdrMonthAndYearWrapper {
    padding-bottom: 0rem;
  }
}
@media screen and (max-width: 480px) {
  .getNow {
    padding: 0rem 1rem 2rem 1rem;
  }
  .tour {
    font-size: 0.6rem;
  }
  .holiday {
    font-size: 0.8rem;
  }
}
