.container {
  background: url(`${../../../../../assets/images/Footer/FooterBg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.logoContainer {
  display: flex;
  align-items: center;
}
.logoContainer span {
  font-size: 18px;
  padding-left: 10px;
  font-weight: bold;
  color: #fff;
}
.colum2{
  margin: 0 10px 25px 10px;
}
.column1 {
  width: 30%;
  margin: 0 10px 30px 10px;
}
.column1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
}
.colum2 h4 {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.colum2 a {
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
}
.icon {
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .column1 {
    width: 100%;
  }
  .column1 p,
  .colum2 a {
    font-size: 12px;
    line-height: 20px;
  }
  .logoContainer span,
  .colum2 h4 {
    font-size: 14px;
  }
}
