.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  margin: 0 auto;
  width: 90%;
  z-index: 1;
}
.allNav2 {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.logoContainer {
  display: flex;
  align-items: center;
  width: 30%;
}
.logoContainer span {
  font-size: 18px;
  padding-left: 10px;
  font-weight: bolder;
}
.header > div,
.header > nav {
  display: flex;
  align-items: center;
}
.header a {
  margin-right: 27px;
  font-size: 14px;
}
.signup {
  background: #fd5308;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  font-size: 14px;
  color: #fff;
}
.header .bar {
  display: none;
}
.hideBar {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2rem;
  color: #fff;
}
.bar {
  background: transparent;
  border: none;
}
@media screen and (max-width: 1200px) {
  .header a {
    margin-right: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .logoContainer span {
    font-size: 12px;
    padding-left: 2px;
  }
  .signup,
  .header a {
    font-size: 13px;
  }
  .header a {
    margin-right: 8px;
  }
  .header {
    width: 97%;
  }
  .allNav {
    width: 68%;
  }
  .allNav .nav a {
    margin: 0 4px;
  }
}
@media screen and (max-width: 768px) {
  .header .bar {
    display: block;
  }
  .allNav2 > nav, .allNav2 > .auth {
    display: none;
  }
  .header .allNav {
    flex-direction: column;
    position: absolute ;
    height: 60vh;
    width: 60vw;
    z-index: 1;
    top: 0;
    right: 70px;
    transform: translateX(70px);
    background: rgb(256, 84, 12, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 0px 20px;
    transition: transform 0.5s ease-in;
  }
  .allNav > nav {
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .allNav nav a {
    margin: 2px 0px;
    height: 40px;
    color: #fff;
  }
  .header .auth {
    position: absolute;
    align-items: center;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .auth a{
    color: #fff;
  }
  .logoContainer span {
    display: none;
  }
  .header{
    width: 90%;
  }
}

