* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input {
  font-family: "Poppins", sans-serif;
  color: #2a2a2a;  
}
body{
  overflow-x: hidden;
}
.current {
  font-weight: bolder;
}
a {
  color: unset;
  text-decoration: none;
}
